/* night color: #001652 */


/* day color: #5EC7C3 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

#bg {
    background-color: #5EC7C3;
    background-repeat: no-repeat;
    background-size: content;
    height: 100vh;
}

h1 {
    text-align: center;
    font-size: 4rem;
    padding-bottom: 30px;
}

p {
    text-align: center;
    display: block;
}

#container {
    margin: auto;
    width: 20%;
    min-width: 300px;
    text-align: center;
    box-shadow: 0 0 25px black;
    border-radius: 20px;
    padding: 30px 0;
    display: none;
}

.city {
    font-size: 3rem;
}

.temp_min_max,
.hum_wind {
    display: flex;
    justify-content: space-evenly;
}

.temp_actual {
    font-size: 2rem;
    padding: 5px;
}

.fa-long-arrow-alt-down {
    color: red;
}

.fa-long-arrow-alt-up {
    color: green;
}

#userInput {
    display: flex;
    justify-content: flex-end;
}